html,
body {
  /* background: linear-gradient(to bottom right, #3c2c70, #4c1c7d); */
   background: linear-gradient(to bottom right, #fec72c, #fec72c); 
  /*background: url('/bg.png');*/
  /*background-size: cover;*/
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  width: 100%;
}

a {
  color: ghostwhite;
  text-decoration: none;
}

p {
  color: rgb(255, 225, 0);
  /* text-shadow: -1px -1px 0 rgb(255, 225, 0), 1px -1px 0 rgb(255, 225, 0), -1px 1px 0 rgb(255, 225, 0), 1px 1px 0 rgb(255, 225, 0); */
}

h2 {
  color: ghostwhite;
}

label {
  color: ghostwhite;
}

footer {
  position: absolute;
  bottom: 0px;
  margin: 0px;
  font-size: clamp(8px, 16px, 20px);
}

@media (max-width: 768px) {
  footer {
    font-size: calc(50vw * 0.05); /* Set a fixed font size for phones */
  }
}
  

* {
  box-sizing: border-box;
}
